<h2 class="text-center my-5">Lista di Cose da Fare</h2>
<div class="container text-center">
    <button #btnComplete class="btn btn-success mx-3">Completate</button>
    <button #btnNoComplete class="btn btn-warning">Da Completare</button>
</div>
<ul class="list-group">
    <h2 *ngIf="loading">LOADING...</h2>
    <li class="m-4 p-3 list-group-item" *ngFor="let t of todo" >
       <span class="fw-bold">ID: {{t.id}}</span> - {{t.title}}
    </li>
</ul>
