<div class="container my-5">
    <div class="row">
        <div class="col-12 text-center my-4">
            <h2>Benvenuto nel nostro Blog!!</h2>
            <p>Clicca un bottone per scegliere cosa fare</p>
        </div>
        <div class="col-12 text-center">
            <button class="btn btn-primary">
                <a class="text-decoration-none text-light" href="javascript:void(0)" [routerLink]="['/search']">
                    Ricerca
                </a>
            </button>
            <button class="btn btn-primary mx-3">
                <a class="text-decoration-none text-light" href="javascript:void(0)" [routerLink]="['/articles']">
                    Articoli
                </a>
            </button>
        </div>
        <div class="col-12 text-center my-3">
            <button class="btn btn-primary mx-2">
                <a class="text-decoration-none text-light" href="javascript:void(0)" [routerLink]="['/todos']">
                    Cose da fare
                </a>
            </button>
            <button class="btn btn-primary">
                <a class="text-decoration-none text-light" href="javascript:void(0)" [routerLink]="['/users']">
                    Utenti
                </a>
            </button>
        </div>
    </div>
</div>