<ul class="list-group">
    <h2 class="text-center my-5">Tutti Gli Articoli</h2>
    <h2 *ngIf="loading">LOADING...</h2>
    <li class="m-4 p-3 list-group-item" *ngFor="let a of articles" >
       <span class="fw-bold">ID: {{a.id}}</span> - {{a.title}}
    </li>
</ul>