
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Blog-Angular</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="d-flex container justify-content-lg-end">
        <ul class="navbar-nav"> 
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" [routerLink]="['/search']">Ricerca per Id</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" [routerLink]="['/articles']">Articoli</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" [routerLink]="['/todos']">Cose da fare</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" [routerLink]="['/users']">Utenti</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="content">
  <router-outlet></router-outlet>
</div>

<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted my-5">
  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Blog-Angular
          </h6>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat laudantium iure corrupti porro maxime nulla consectetur omnis distinctio exercitationem quasi.
          </p>
        </div>
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="javascript:void(0)" class="text-reset" [routerLink]="['/']">Home</a>
          </p>
          <p>
            <a href="javascript:void(0)" class="text-reset" [routerLink]="['/search']">Ricerca</a>
          </p>
          <p>
            <a href="javascript:void(0)" class="text-reset" [routerLink]="['/articles']">Articoli</a>
          </p>
          <p>
            <a href="javascript:void(0)" class="text-reset" [routerLink]="['/todos']">Cose da Fare</a>
          </p>
          <p>
            <a href="javascript:void(0)" class="text-reset" [routerLink]="['/users']">Utenti</a>
          </p>
        </div>
        <!-- Grid column -->
      </div>
    </div>
  </section>
</footer>
