<ul class="list-group">
    <h2 class="text-center my-5">Tutti Gli Utenti</h2>
    <h2 *ngIf="loading">LOADING...</h2>
    <li class="m-4 p-3 list-group-item" *ngFor="let u of users" >
       <span class="fw-bold">ID: {{u.id}}</span> - {{u.name}}
    </li>
</ul>