<h2 *ngIf="loading">LOADING...</h2>
    <div class="col-12">
        <div class="container text-center my-5">
            <label for="search-box" class="m-4 fw-bold fs-3">Cerca Articoli per ID</label>
            <input type="number" class="form-control w-75 mx-auto" #searchBox id="search-box">
            <button class="btn btn-success my-3" (click)="getArticleById(searchBox.value)">Cerca
            </button>
            <ul class="list-group">
                <li *ngIf="article != null" class="list-group-item">
                    <span class="fw-bold">ID :{{article.id}} </span> - {{article.title}}
                </li>
            </ul>
        </div>
    </div>